{% extends 'base.html' %}

{% block title %}
    {{object.title}} - {{block.super}}
{% endblock %}

{% block main %}
<h1>{{object}}</h1>
<p class="lead">{{object.plot}}</p>
{% if object.director_id %}
<h2>Directed by, <a href="{% url 'core:PersonDetail' object.director_id %}">{{object.director}}</a></h2>
{% endif %}
{% if object.writers.all %}
<h2>Written by, </h2>
<ul>
    {% for writer in object.writers.all %}
    <li>
        <a href="{% url 'core:PersonDetail' writer.id %}">{{writer}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if object.actors.all %}
<h2>Actors</h2>
<ul>
    {% for actor in object.actors.all %}
    <li>
        <a href="{% url 'core:PersonDetail' actor.id %}">{{actor}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block sidebar %}
<div>
    This movie is rated:<span class="badge badge-primary">{{object.get_rating_display}}</span>
</div>
<div>
    {% if vote_form %}
    <form method="POST" action="{{ vote_form_url }}">
        {% csrf_token %}
        {{ vote_form.as_p }}
        <button class="btn btn-primary">
            Vote
        </button>
    </form>
    {% else %}
    <form method="GET" action="{{ login_url }}">
        {% csrf_token %}
        <p>Please Log in to vote for this Movie...</p>
        <button class="btn btn-primary">
            Login
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}