{% extends 'base.html' %}

{% block title %}
{{object.first_name}} {{object.last_name}}
{% endblock %}

{% block main %}
<h1>{{object}}</h1>
<h2>Actor</h2>
<ul>
    {% for role in object.role_set.all %}
    <li>
        <a href="{% url 'core:MovieDetail' role.movie_id %}">{{role.movie}}</a> as <i>{{role.name}}</i>
    </li>
    {% endfor %}
</ul>
<h2>Writer</h2>
<ul>
    {% for movie in object.writing_credits.all %}
    <li>
        <a href="{% url 'core:MovieDetail' movie.id %}">
            {{ movie }}
        </a>
    </li>
    {% endfor %}
</ul>
<h2>Directed</h2>
<ul>
    {% for movie in object.directed.all %}
    <li>
        <a href="{% url 'core:MovieDetail' movie.id %}">
            {{movie}}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}